.about-section {
  height: 100vh;
  font-size: 12px;
  background-color: $background-color;

  .about-text {
    line-height: 40px;
    font-size: 35px;

    .p-small {
      font-size: 13px;
      width: 75%;
      color: $text-small;
      line-height: 24px;
      margin-top: 40px;
    }
  }

  .about-progress {
    .label {
      padding-right: 38px;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 40px 0;
      }
    }
  }
}

.smal-title {
  font-size: 14px;
  margin-bottom: 30px;
}
