.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  height: 90vh;
  .projects-carousel {
    padding: 0 140px 80px 0;
    width: 100%;
  }
  p {
    width: 100%;
    padding-bottom: 40px;
  }

  .proj-date {
    p {
      padding: 0;
      margin: 0;
      text-align: end;
      line-height: 30px;
    }
    .type {
      font-size: 2rem;
      font-weight: 700;
      transform: scaleY(0.7);
    }
  }
}

.proj-info {
  width: 40%;
}

.rec-slider-container {
  margin: 0 !important;
}

.rec-carousel-wrapper {
  position: relative;
}

.rec-pagination {
  position: absolute;
  bottom: 30px;
}

.rec-dot_active {
  background-color: #333 !important;
  box-shadow: 0 0 2px 3px $text-primary !important;
}

.rec-arrow {
  background-color: #333 !important;
  color: $text-primary !important;
  position: absolute;
  border: none !important;
  z-index: 100;
  &:hover {
    color: #000 !important;
    background-color: #f3ca2f !important;
  }
}

.rec-arrow-right {
  right: 0;
}
