.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  height: 90vh;
  width: 100%;
  animation: bgAnim 80s ease-in-out infinite;
  background-size: 100%;
  h3 {
    align-self: flex-start;
  }
  .projects-container {
    padding-right: 80px;
  }
  .projects-carousel {
    width: 100%;
  }
  p {
    width: 100%;
    padding-bottom: 40px;
  }

      .black-btn {
    width: auto !important;
    span {
      font-size: 20px;
    }
  }
  .proj-date {
    width: 55%;
    .project-img {
      width: 600px;
      height: 380px;
      background-color: #3c3b3bba;
      border-radius: 10px;
      align-self: flex-start;
      margin-top: 30px;
      box-shadow: -71px 100px 221px 85px rgba(60, 59, 59, 0.84);
      -webkit-box-shadow: -71px 100px 221px 85px rgba(60, 59, 59, 0.84);
      -moz-box-shadow: -71px 100px 221px 85px rgba(60, 59, 59, 0.84);
      img {
        width: 70%;
        height: 80%;
        box-shadow: 11px 14px 22px 1px #272727;
        border-radius: 10px;
      }
    }
    p {
      padding: 0;
      margin: 0;
      text-align: end;
      line-height: 30px;
    }
    .type {
      font-size: 2rem;
      font-weight: 700;
      transform: scaleY(0.7);
    }
  }
  .tools {
    gap: 8px;
    li {
      margin: 0;
    }
  }
}

.proj-info {
  width: 40%;
  p {
    padding: 0;
    margin: 0;
  }
  ul {
    flex-wrap: wrap;
  }
}

.rec-slider-container {
  margin: 0 !important;
}

.rec-carousel-wrapper {
  position: relative;
}

.rec-pagination {
  position: absolute;
  bottom: 60px;
}

.rec-dot {
  background-color: #fff !important;
  transform: scale(1.2);
  &:hover {
    background-color: #333 !important;
    box-shadow: 0 0 2px 3px $text-primary !important;
  }
}

.rec-dot_active {
  background-color: #333 !important;
  box-shadow: 0 0 2px 3px $text-primary !important;
  transform: scale(1.3);
}

.rec-arrow {
  background-color: #333 !important;
  color: $text-primary !important;
  position: absolute;
  border: none !important;
  margin: 3rem;
  z-index: 1;
  &:hover {
    color: #000 !important;
    background-color: #f3ca2f !important;
  }
}

.rec-arrow-right {
  right: 0;
}

.feature-work-title {
  display: none;
}

@keyframes bgAnim {
  0% {
    background-size: 130%;
  }
  25% {
    background-size: 200%;
  }

  50% {
    background-size: 130%;
  }
  75% {
    background-size: 200%;
  }
  100% {
    background-size: 100%;
  }
}

.proj-img {
  width: 80%;
  height: 400px;
  position: relative;
  p {
    display: none;
  }
  &:hover {
    cursor: pointer;
    p {
      display: block;
      width: 100%;
      margin: 0 auto;
      background-color: rgba(51, 51, 51, 0.925);
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 10px;
    }
  }
}

.tools {
  li {
    background-color: #3c3b3bba;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    &:hover {
      transition: all 0.3s ease;
      color: $text-primary;
      cursor: pointer;
    }
  }
}

.project-stacks {
  margin: 10px 0 10px 15px;
  padding: 0;
  gap: 5px 30px;
  font-size: 1rem;
  list-style-type: disc;
  li {
    &::marker {
      color: $text-primary;
    }
  }
  :hover {
    transition: all 0.3s ease;
    color: $text-primary;
    cursor: pointer;
  }
}

.btns {
  margin: 0 !important;
  gap: 10px;
}

@media (max-width: 900px) {
  .projects {
    width: 100% !important;
    padding: 0 10px !important;
    margin: 0 !important;
    flex-direction: column !important;
    height: 100% !important;
    .vertical-text {
      display: none;
    }

    .projects-container {
      margin: 0 !important;
      padding: 50px 0 80px 0 !important;
      flex-direction: column !important;
      align-items: center !important;
    }
    .projects-carousel {
      background-color: #333;
      flex-direction: column;
      align-items: center;
      width: 95% !important;
      padding: 10px 0 !important;
      border-radius: 10px;

      .proj-info {
        width: 90%;
      }
    }
    .title {
      font-size: 30px;
      margin: 10px 0;
    }
    .tools,
    .project-stacks {
      margin-top: 10px;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;
      li {
        margin-bottom: 0;
      }
    }
    .btns {
      margin: 0 !important;
    }
    h4 {
      display: none;
    }
    .proj-date {
      p {
        display: none;
      }
      width: 90%;
      .project-img {
        margin: 20px 0;
        width: 100%;
        img {
          width: 90%;
        }
      }
    }
    .black-btn {
    width: auto !important;
    span {
      font-size: 20px;
    }
  }
  }
  .rec-arrow-right {
    right: -40px;
  }

  .rec-arrow-left {
    left: -40px;
  }

  .rec-pagination {
    bottom: 30px;
  }
  .feature-work-title {
    display: block;
    margin: 0;
    padding: 20px 0 0 20px;
    // background-color: #fff;
    width: 90%;
  }
}
