@import "./_configStyle";
@import "./_header";

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Poppins, sans-serif !important;
  font-size: 14px !important;
  line-height: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $text-black !important;
  text-decoration: none !important;
}
