@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import "./_configStyle";
@import "./_header";
@import "./_home";
@import "./_about";
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Poppins, sans-serif !important;
  font-size: 14px !important;
  line-height: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $text-black !important;
  text-decoration: none !important;
}

.lang li {
  font-size: 13px;
  margin: 0 20px 0 0;
  font-weight: 400;
  &:hover {
    cursor: pointer;
    color: $text-primary !important;
    @include transition(0.3s, ease-in-out);
  }
}

footer {
  position: fixed;
  bottom: 0;
  color: $text-small;
  padding: 15px 50px;
  z-index: 1;
}

.scrolll {
  height: 70vh;
}

.anim-section {
  // transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
  // position: absolute;
  // top: -900%;
  display: none !important;
  // height: 0vh !important;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
}

ol li {
  font-size: 15px;
  counter-increment: my-awesome-counter;
  margin: 7px 0;
  &:hover {
    color: #ffff !important;
    cursor: pointer;
    @include transition(0.2s, ease-in-out);
  }
}

ol li::before {
  content: "0" counter(my-awesome-counter) ". ";
}
